[submodule "l2ork_addons/rtcmix-in-pd"]
	path = externals/rtcmix-in-pd
	url = https://github.com/jwmatthys/rtcmix-in-pd.git
[submodule "Gem"]
	path = Gem
	url = https://github.com/umlaeute/Gem.git
[submodule "packages/linux_flatpak/shared-modules"]
	path = packages/linux_flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "externals/disis/xwiimote"]
	path = externals/disis/xwiimote
	url = https://github.com/xwiimote/xwiimote
[submodule "externals/pd-flite"]
	path = externals/pd-flite
	url = https://github.com/Lucarda/pd-flite.git
[submodule "externals/pd-hidraw"]
	path = externals/pd-hidraw
	url = https://github.com/Lucarda/pd-hidraw.git
[submodule "externals/neuralnet"]
	path = externals/neuralnet
	url = https://github.com/alexdrymonitis/neuralnet.git
[submodule "pd-lua"]
	path = externals/pd-lua
	url = https://github.com/agraef/pd-lua
[submodule "wiringPi"]
	path = l2ork_addons/raspberry_pi/disis_gpio/wiringPi
	url = https://github.com/pd-l2ork/wiringPi
[submodule "externals/pd-cyclone"]
	path = externals/pd-cyclone
	url = https://github.com/porres/pd-cyclone
[submodule "externals/pd-else"]
	path = externals/pd-else
	url = https://github.com/porres/pd-else
