[submodule "l2ork_addons/rtcmix-in-pd"]
	path = externals/rtcmix-in-pd
	url = https://github.com/jwmatthys/rtcmix-in-pd.git
[submodule "l2ork_addons/raspberry_pi/disis_gpio/wiringPi"]
	path = l2ork_addons/raspberry_pi/disis_gpio/wiringPi
	url = https://git.purrdata.net/jwilkes/wiringPi.git
[submodule "externals/pd-lua"]
	path = externals/pd-lua
	url = https://git.purrdata.net/jwilkes/pd-lua.git
[submodule "Gem"]
	path = Gem
	url = https://github.com/umlaeute/Gem.git
[submodule "packages/linux_flatpak/shared-modules"]
	path = packages/linux_flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "externals/disis/xwiimote"]
	path = externals/disis/xwiimote
	url = https://github.com/xwiimote/xwiimote
[submodule "pd/src/tinyfd"]
	path = pd/src/tinyfd
	url = https://github.com/LazyJazz/tinyfiledialogs
[submodule "externals/pd-flite"]
	path = externals/pd-flite
	url = https://github.com/Lucarda/pd-flite.git
[submodule "externals/pd-hidraw"]
	path = externals/pd-hidraw
	url = https://github.com/Lucarda/pd-hidraw.git
