.console-webapp {	
    position: relative;	
    top: 0px;	
    left: 0px;	
    right: 0px;	
    bottom: 0px;	
    overflow-y: scroll;    	
}

.console-find-webapp {	
    position: relative !important;	
}

#canvas_container{	
    display: flex !important;	
    background-color: red !important;	
}	
    
.patch_window_svg{	
    height: 250px;	
    width: 300px;	
    border: 2px solid black;	
    margin: 10px;	
    overflow: hidden;	
}

.patch_window_svg > svg{
    min-width: 100%;
    min-height: 100%;
}

#content {	
    position: absolute;	
    top: 24px;	
}	
    
.content-webapp {	
    position: relative !important;	
    margin-top: 40px;	
}	
    
#content-canvas {	
    position: relative;	
}	
    
/* Webapp Menu */	
nav {	
    position: fixed;	
    top: 0px;	
    z-index: 999999;	
    width: 100%;	
}	
    
.clearfix:after {	
    content: '.';	
    display: block;	
    clear: both;	
    height: 0;	
    line-height: 0;	
    font-size: 0;	
    visibility: hidden;	
    overflow: hidden;	
}	
    
#patch-menu {	
    width: 100%;	
}	
    
.menu, .menu li ul, .patch-menu, .patch-menu li ul{	
    background-color: #EFF0F1;	
    margin: 0px;	
    padding: 0px;	
    list-style:none; 	
    float:left;	
    font-size: 12px;	
    width: 100%;	
    border: 1px solid #C0C2C4;	
    z-index: 999999;	
}	
    
.menu li{	
    display: none;	
    position: relative;	
    padding: 5px 10px;	
    cursor: pointer;	
}	
    
.patch-menu li{	
    position: relative;	
    padding: 5px 10px;	
    cursor: pointer;	
}	
    
.menu > li, .patch-menu > li {	
    float: left;	
}	
    
.menu > li:hover, .patch-menu > li:hover {	
    float: left;	
    background-color: #6bd4e6;	
}	
    
.menu li ul, .patch-menu li ul{	
    display: none;	
    position: absolute;	
    min-width: 250px;	
}	
    
.menu li ul li:hover, .patch-menu li ul li:hover{	
    background-color: #6bd4e6;	
}	
    
    
.menu li ul li ul{	
    top: 0;	
    left: 100%;	
}	
    
.menu > li > ul > li span, .menu > li > ul > label > li span, .patch-menu > li > ul > li span {	
    float: right;	
    font-size: small;	
    color: #777;	
}	
    
    
/* Input file */	
.menu label input[type="file"] {	
    display: none;	
}	
.menu label {	
    margin: 0px;	
    width: 100%;	
    text-align: left;	
}	
    
li .hr{	
    display: block !important;	
    margin: 0px;	
    padding: 0px;	
    width: 100%;	
}	
    
.hr > hr{	
    margin: 0px;	
    padding: 0px;	
}	
    
    
/* Popup */	
#popup{	
    background-color: #EFF0F1;	
    margin: 0px;	
    padding: 0px;	
    font-size: 12px;	
    border: 1px solid #C0C2C4;	
    z-index: 999999;	
    position: absolute;	
    list-style:none; 	
}	
    
#popup li{	
    position: relative;	
    padding: 5px 10px;	
    cursor: pointer;	
}	
    
#popup > li:hover{	
    background-color: #6bd4e6;	
}

.popup-disabled{
    color: #858688;
}
.popup-disabled:hover{
    background-color: transparent !important;
}
    
    
/* Webapp Index layout */	
#sidebar{	
    background-color: transparent;	
    max-width: 300px;	
    min-width: 300px;	
}	
    
#canvas-container{	
    display: flex;	
}	
    
    
#console-window{	
    background-color: transparent;	
    flex-basis: 30%;	
    max-height: 30%;	
}	
    
.patch{	
    border: 2px solid black;	
}	
    
.patch_window_svg{	
    height: 250px;	
    width: 350px;	
    border: 2px solid black;	
    margin: 10px;	
    overflow: scroll;	
}	
    
.patch_window_svg > svg{	
    position: relative;	
    margin-top: -1px;	
    margin-left: -1px;	
    overflow: hidden;	
}	
    
#div-svg-p{	
    position: relative;	
    z-index: 999999;	
}	
    
/* Bootstrap */	
.container-fluid{	
    background-color: transparent;	
    height: 100vh;	
    padding: 0px !important;	
    overflow: scroll;	
}	
    
#canvas-content > .card-body{	
    display: flex !important;	
}