id ICON "pd_l2ork.ico"
1 VERSIONINFO
FILEVERSION     2025,12,03,0
PRODUCTVERSION  2025,12,03,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "l2ork.bukvic.net"
      VALUE "FileDescription", "Pd-L2Ork Application"
      VALUE "FileVersion", "0.55.2"
      VALUE "InternalName", "pd-l2ork.exe"
      VALUE "LegalCopyright", "Miller Puckette, et al."
      VALUE "OriginalFilename", "pd-l2ork.exe"
      VALUE "ProductName", "Pd-L2Ork"
      VALUE "ProductVersion", "0.55.2"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
